.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.username {
  font-weight: 600;
  color: var(--text-main);
  margin: 0;
}

.btn {
  padding: 8px 16px;
  border-radius: var(--radius);
  background-color: var(--secondary-color);
  color: white;
  border: none;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
  background-color: #db2777; /* Darker Pink */
}

.btn:active {
  transform: scale(0.98);
}
